In [3]:
import pandas as pd
raw_df = pd.read_excel(r'athlete_events.xlsx')

In [11]:
#raw_df.head()
clean_df = raw_df.drop(['ID','Name', 'Sex','Age','Height', 'Weight'],axis = 1)

In [12]:
clean_df.head()
#len(clean_df)

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,Union des Socits Franais de Sports Athletiques,FRA,1900 Summer,1900,Summer,Paris,Rugby,Rugby Men's Rugby,Gold
1,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Bronze
2,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
3,Great Britain,GBR,2008 Summer,2008,Summer,Beijing,Rowing,Rowing Men's Coxed Eights,Silver
4,Cornwall,GBR,1908 Summer,1908,Summer,London,Rugby,Rugby Men's Rugby,Silver

In [36]:
final_df = clean_df.drop_duplicates()
len(final_df)
#final_df.to_csv(r'final_data.csv')
#final_df.head()

18925

In [34]:
final_df = final_df.set_index('Season')
summer_df = final_df.drop('Winter', axis = 0)
summer_df.head()

,Team,NOC,Games,Year,City,Sport,Event,Medal
Season,,,,,,,,
Summer,Union des Socits Franais de Sports Athletiques,FRA,1900 Summer,1900,Paris,Rugby,Rugby Men's Rugby,Gold
Summer,Gitana-2,FRA,1900 Summer,1900,Paris,Sailing,Sailing Mixed 3-10 Ton,Bronze
Summer,Gitana-2,FRA,1900 Summer,1900,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
Summer,Great Britain,GBR,2008 Summer,2008,Beijing,Rowing,Rowing Men's Coxed Eights,Silver
Summer,Cornwall,GBR,1908 Summer,1908,London,Rugby,Rugby Men's Rugby,Silver

16072